@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Important Class */
.primary-btn {
    background-color: #006A50;
    color: #f5f5f5;
    border: 1px solid #006A50;
    border-radius: 10px;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 550;
}
.primary-btn:hover {
    background-color: #fff;
    color: #006A50;
    transition: all 0.6s;
}
/* color */
.light-green:hover {
    background-color: #C6E4D6;
    transition: all 0.6s;
}
.green {
    background-color: #09A15C;
    border: 1px solid #09A15C;
}
.green:hover {
    background-color: #fff;
    color: #09A15C;
    transition: all 0.6s;
}
.light-blue:hover {
    background-color: #D5E1F5;
    transition: all 0.6s;
}
.blue {
    background-color: #5490F5;
    border: 1px solid #5490F5;
}
.blue:hover {
    background-color: #fff;
    color: #5490F5;
    transition: all 0.6s;
}
.light-yellow:hover {
    background-color: #F7EBCF;
    transition: all 0.6s;
}
.yellow {
    background-color: #FFC239;
    border: 1px solid #FFC239;
}
.yellow:hover {
    background-color: #fff;
    color: #FFC239;
    transition: all 0.6s;
}

body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    max-width: 1650px;
    margin: 0 auto;
}

/* Nav  */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 28px
}
.nav-title {
    font-size: 32px;
    font-weight: 800;
}
.nav-btn {
    font-size: 18px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 5px;
    padding: 14px 28px;
}
.nav-btn:hover {
    background-color: #006A50;
    color: #f5f5f5;
    transition: all 0.6s;
}
/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 20px;
    padding: 150px;
    margin-top: 60px;
}
.banner-sub-title {
    color: #6A7972;
    font-size: 24px;
    font-weight: 500;
}
.banner-title {
    font-size: 56px;
    font-weight: 800;
    margin: 35px 280px 35px 0;
}

/* vision Section */

.vision-section {
    margin-top: 110px;
}
.vision-section-title {
    font-size: 40px;
    font-weight: 800;
}
.vision-section-description {
    font-size: 18px;
    color: #6A7972;
    margin: 36px 0;
}
.vision-carts {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.cart {
    padding: 52px;
    border-radius: 25px;
    /* margin: 0 10px; */
}
.cart-title {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}
.cart-description {
    font-size: 18px;
    color: #6A7972;
    margin-bottom: 50px;
}
.cart-btn {
    padding: 15px 20px;
}

/* Recent section */

.recent-content {
    margin-top: 100px;
}
.recent-title {
    font-size: 40px;
    font-weight: 800;
}
.recent-description {
    font-size: 18px;
    color: #6A7972;
    margin: 30px 0;
    padding: 10px 0;
}
.recent-cart {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 55px;
    display: flex;
    justify-content: space-between;
}
.recent-cart-img {
    border-radius: 20px;
    /* margin-right: 45px; */
}
.recent-cart-content {
    margin-left: 40px;
}
.recent-cart-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 14px;
}
.recent-cart-img {
    margin: 20px 0;
}
.recent-cart-date, .recent-cart-description {
    font-size: 18px;
    color: #6A7972;
}
.recent-cart-description {
    margin: 20px 0;
}
.recent-cart-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 18px 22px;
}
.recent-cart-2 {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 55px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
/* Donate  Section */

.donate-section {
    text-align: center;
    margin-top: 70px;
}
.donate-title {
    font-size: 40px;
    font-weight: 800;
}
.donate-description {
    font-size: 22px;
    color: #6A7972;
    margin: 56px 70px;
}
.donate-cart {
    display: flex;
    justify-content: space-around;
}
.donate-cart-btn {
    font-size: 44px;
    font-weight: 800;
    padding: 28px 32px;
    border-radius: 16px;
    background-color: #fff;
    border: none;
}
.donate-cart-btn:hover {
    background-color: #C6E4D6;
    transition: all 0.6s;
}
#amound {
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 16px 0;
    color: #6A7972;
    border: none;
    margin: 60px 0;
}
#amound:focus {
    background-color: #C6E4D6;
}
.done-btn {
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    padding: 16px 31px;
    margin-bottom: 100px;
}

/* Quote section */

.quote {
    background-color: #fff;
    margin: 80px 0;
    padding: 60px 30px;
    border-radius: 20px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 2% 12%;
}
.quote-description {
    font-size: 18px;
    color: #6A7972;
    line-height: 27px;
}
.quote-name {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.quote-text {
    font-size: 18px;
    font-weight: 400;
    color: #6A7972;
}
/* Newsletter section */
.newsletter-section {
    background-color: #C6E4D6;
    padding: 80px 265px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 100px;
}
.newsletter-title {
    font-size: 40px;
    font-weight: 800;
}
.newsletter-description {
    font-size: 18px;
    font-weight: 400;
    margin: 22px 106px;
    color: #6A7972;
}
.email-label {
    margin: 0;
    padding: 0;
    border: none;
}
#email {
    margin: 0;
    font-size: 20px;
    width: 65%;
    height: 60px;
    padding-left: 34px;
    border: none;
    border-radius: 10px;
    margin-right: -20px;
}
.newsletter-btn {
    border: none;
    margin: 0;
    padding: 18px 26px;
    padding-top: 21px;
    border-radius: 8px;
    border: 2px solid #006A50;
}
.newsletter-text {
    font-size: 18px;
    color: #6A7972;
    margin-top: 30px;
    font-weight: 500;
}